body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Roboto', sans-serif;

  background-color: #f8f9fa;
  color: #495057;
}

a {
  text-decoration: none;
}